# Ignore everything
*
# But not these files...
!.gitignore
!.alias
!.zshrc
!.bashrc
!.bash_profile
!.git
!.gitconfig
!.gitrc
!.tmux.conf
!.tmux-cygwin.conf
!.tmux-linux.conf
!.conkyrc
!.scripts
!.scripts/*
# these two below do not work need to move to new nvim structure
!.config/nvim/init.vim
!.config/awesome/rc.lua
!.local/share/nvim/site/plugin
!.vim/
!.vim/*
!.vim/UltiSnips/*
!.vim/plugin/**
#!.vim/*/* #note this is needed to add the .vim directory itself and top level inside
!.vimrc
!.root-softlink-creation.sh
!.inputrc
!.battery
!.mvn-color.sh
!.git-completion.bash
!.git-prompt.sh
!.xcape
!.Xdefaults
!.npm-packages/
!.npm-packages/*
!.npm-packages/*/*
!.gdbinit
!.gdbinit.d/
!.gdbinit.d/*
!.ycm_extra_conf.py
# this is only way I could add
# add all files up to folder I want
# then remove any other I don't want
!.config/
!.config/*
!.config/nvim/*
.config/Trolltech.conf
.config/monitors.xml
.config/user-dirs.dirs
.config/user-dirs.locale
.config/QtProject.conf
.config/mimeapps.list
.config/nvim/.netrwhist

# this will add any files in test-dir/, if they exist
!test-dir
!test-dir/*
# this will add any files in test-dir/ one level deep, if they exist
!test-dir/*/*
# this will add ALL files in test-dir/
!test-dir/**
