# Ignore everything
*
# But not these files...
!.gitignore
!.alias
!.bashrc
!.git
!.gitconfig
!.gitrc
!.vim/
!.vim/*
!.vim/indent/*
# this file to install vundle
!.README-vundle
#!.vim/*/* #note this is needed to add the .vim directory itself and top level inside
!.vimrc
!colorize-maven.sh
!git-completion.bash
!git-prompt.sh
!testdirectory
!testdirectory/*
