# Ignore everything
*
# But not these files...
!.gitignore
!.alias
!.bashrc
!.git
!.gitconfig
!.gitrc
!.vim/
!.vim/*
!.vim/indent/*
!.vim/UltiSnips/*
# this file to install vundle
!.README-vundle-39
#!.vim/*/* #note this is needed to add the .vim directory itself and top level inside
!.vimrc
!mvn-color.sh
!git-completion.bash
!git-prompt.sh
!.npm-packages/
!.npm-packages/*
!.npm-packages/*/*

# this will add any files in test-dir/, if they exist
!test-dir
!test-dir/*
# this will add any files in test-dir/ one level deep, if they exist
!test-dir/*/*
# this will add ALL files in test-dir/ 
!test-dir/**
