[color]
	ui = auto
[core]
	pager = less -FXRS -r
	editor = nvim
[user]
	name = Javier Fraga
	email = javier.s.fraga@gmail.com
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
